/* 
	CSS by Dan Høegh
	UCN MMD 2019 
*/

* {
	box-sizing: border-box;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 4vw;
	line-height: 1.4;
	overflow-y: scroll;
}

main {
	width: 90%;
	margin: 0 auto;
	max-width: 700px;
	padding: 25px;
	background-color: rgba(0,0,0,.1);
}

.filter-items > div {
	float: left;
	width: 12%;
	margin: 0.25%;
	height: 0;
	padding-bottom: 12%;
	transition: all .3s ease-in-out;
}

ul#filterList {
	margin: 0 1.5% 20px 1.5%;
	padding: 0;
	list-style-type: none;
}

ul#filterList li {
	display: inline-block;
	margin: 0 5px 5px 0;
}

ul#filterList a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, .3);
	font-size: 14px;
}

ul#filterList a.filterAll {
	background-color: rgba(0, 128, 0, .9);
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.magenta {
	background-color: magenta;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

.circle {
	border-radius: 50%;
}

.rounded {
	border-radius: 20%;
}

.filter-items > div.hide {
	transform: scale(0);
}

@media (min-width: 640px) {
	body {
		font-size: 1rem;
		padding: 25px;
	}
}